/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar but allow scrolling */
@layer utilities {
    .scrollbar-hide {
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }
  }
  