/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar but allow scrolling */
@layer utilities {
    .scrollbar-hide {
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }
  }
 
  .badge-container {
    position: relative;
    padding-top: 100px;
  }

  @media (min-width: 1024px) {
    .lg\\:order-last {
      order: 3;
    }
  }
  
  @keyframes borderAnimation {
    0% {
      border-color: red;
    }
    50% {
      border-color: yellow;
    }
    100% {
      border-color: red;
    }
  }
  
  .alert {
    animation: borderAnimation 2s infinite;
  }
  
  